*.o
Makefile
Makefile.in
*.a
.deps
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.sub
config.guess
configure
libtool
*.class
missing
depcomp
install-sh
ltmain.sh
stamp-h1
bin
Desktop
Documents
public_html
.cvsignore
*~
*.swp
doxygen-doc
