sonata expected components v1.6

################################################################################
#
# File:    simulator_expectedSonATAComponents.cfg
# Project: OpenSonATA
# Authors: The OpenSonATA code is the result of many programmers
#          over many years
#
# Copyright 2011 The SETI Institute
#
# OpenSonATA is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# OpenSonATA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with OpenSonATA.  If not, see<http://www.gnu.org/licenses/>.
# 
# Implementers of this code are requested to include the caption
# "Licensed through SETI" with a link to setiQuest.org.
# 
# For alternate licensing arrangements, please contact
# The SETI Institute at www.seti.org or setiquest.org. 
#
################################################################################

# SonATA Components Configuration File
# config file for simulated components

Site Main IfcList ifc1 ifc2 ifc3
Ifc ifc1 BeamList beam1 beam2
Ifc ifc2 BeamList beam3
Ifc ifc3 BeamList beam4

Beam beam1 DxList dx001 dx002 dx003 dx004 dx005 dx006 dx007 dx008
Beam beam2 DxList dx009 dx010

Beam beam3 DxList dx011 

Beam beam4 DxList dx012 

# associate prelude beams with ata synth beams 
BeamToAtaBeams beam1 beamxc1 beamyc1
BeamToAtaBeams beam2 beamxd1 beamyd1
#BeamToAtaBeams beam3 beamxa3 beamya3
#BeamToAtaBeams beam4 beamxa4 beamya4







