# tsig configuration version 2.0

################################################################################
#
# File:    tsig_field.cfg
# Project: OpenSonATA
# Authors: The OpenSonATA code is the result of many programmers
#          over many years
#
# Copyright 2011 The SETI Institute
#
# OpenSonATA is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# OpenSonATA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with OpenSonATA.  If not, see<http://www.gnu.org/licenses/>.
# 
# Implementers of this code are requested to include the caption
# "Licensed through SETI" with a link to setiQuest.org.
# 
# For alternate licensing arrangements, please contact
# The SETI Institute at www.seti.org or setiquest.org. 
#
################################################################################

# test signal generator control

tsig setname      tsig1

# note: test chassis types:  fieldTestChass | labTestChassis
tsig settestchassis fieldTestChassis

tsig setloaddress  5 19
tsig setlolimit      16; # dBm

tsig setsiggenaddress 5 23
tsig setsiglimit      1; # dBm

# note: valid pulse gen sources:  testlo | at33250
tsig setpulsegensource testlo
tsig setpulsegenaddress 5 99
tsig setpulselimit     2.5; # Vpp (don't exceed at4400 ext2 input limit)

tsig setscuaddress 5 9
