Makefile
Makefile.in
createAllskyStarcat
createRaDecRegionTargetCat
createGalSurveyTargetCat
createGalSurveyGridOutline
createEclipticSurveyTargetCat
convertTychoToTargetCat
convertGalGridToTargetCat
convertSimbadToTargetCat
convertReconsToTargetCat
createHourAngleTable
targetgrid
