<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed under the GPL License. You may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~   http://probe.jstripe.com/d/license.shtml
  ~
  ~  THIS PACKAGE IS PROVIDED "AS IS" AND WITHOUT ANY EXPRESS OR
  ~  IMPLIED WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
  ~  WARRANTIES OF MERCHANTIBILITY AND FITNESS FOR A PARTICULAR PURPOSE.
  -->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-dependency-check="none" default-lazy-init="false">

    <bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <property name="alwaysUseFullPath" value="true"/>
    </bean>


    <!--
        ********************** Controllers ****************************
    -->


    <bean name="/ff_setup.ajax" class="org.jstripe.tomcat.probe.controllers.logs.SetupFollowController">
        <property name="fileAttributeName" value="followed_file"/>
	 <property name="viewName" value="ajax/followed_file_info"/> 
    </bean>

    <bean name="/follow.ajax" class="org.jstripe.tomcat.probe.controllers.logs.FollowController">
        <property name="fileAttributeName" value="followed_file"/>
        <property name="viewName" value="ajax/followFileDisplayContent"/>
        <property name="maxLines" value="1000"/>
        <property name="initialLines" value="250"/>
    </bean>

    <bean name="/ff_info.ajax" class="org.jstripe.tomcat.probe.controllers.logs.UpdateFileInfoController">
        <property name="fileAttributeName" value="followed_file"/>
        <property name="viewName" value="ajax/followed_file_info"/>
    </bean>


    <bean id="themeResolver" class="org.springframework.web.servlet.theme.FixedThemeResolver">
            <property name="defaultThemeName" value="theme-classic"/>
    </bean>

   <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>



</beans>
